<% flash.each do |name, message| %>
   <div class="flash-message flash-message-<%= name %>">
    <%= message %>
   </div>
  <% end %>

<!DOCTYPE html>
<html>
<head>
  <title>Tttgame</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header></header>
  <% if current_user %>
     <p> Hello, <%= current_user.user_name %> </p>
     
    <% else %>
     <%= link_to 'Please login', login_path %>
    <% end %>

<%= yield %>

</body>
</html>
