<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :current_player_id, "1st Player" %><br />
    <%= f.collection_select :current_player_id, User.all, :id, :user_name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :user_id, "2nd Player" %><br />
    <%= f.collection_select :user_id, User.all, :id, :user_name, prompt: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
