<p id="notice"><%= notice %></p>

<p>
  <b>Current player:</b>
  <%= @game.current_player_id %>
</p>

<p>
  <b>Board:</b>
  <%= @game.board %>
</p>

<p>
  <b>Userwin:</b>
  <%= @game.userwin %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
