<body>
  <header>
  <h1>Welcome to <span> TIC TAC TOE </span>for 2 players</h1>
  </header>

  <p id="notice"><%#= notice %></p>
  <%#= @message %>

  </div>

  <div class="board_frame">
    <% @game.moves.each do |move| %>
    <%== board_display(move) %>
    <% end %>
  
  </div>

  <div class="LeaderBoard">
    <h3>Leader Board</h3>
    <% calculate_leaderboard.each do |result| %>
    <p> <%= result[0]%>  - Wins for - <%= result[1]%> </p>
    <% end %>
  </div>

  </p>

  <p>
    <b></b>
    <%#= @game.userwin %>
  </p>

  <footer>
    <%#= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Back', games_path %> |
    <%= link_to 'New Game', new_game_path %> |
  </footer>
</body>

